#form-section{
    background-image: url(../img/background.png);
    background-position: top;
    background-size: cover;
    height: 100vh;
    color: #fff;
    
    .form-section-right{
        @include right-col-elements;
        top:25%;
    }
    
    #main-form{
        background-color: $main-color;
        fieldset{
            border-style: none;
        }
        input:not([type='submit']), textarea{
            @include inputs;
            margin-bottom: 10px;
            font-family: $main-font;
              
        }
        input[type='submit']{
            @include inputs-submit;
            margin-bottom: 10px;
            transition: all .3s;
            
            &:hover {
                background-color: #fff;
                cursor: pointer;
            }
        }
    }
}
