@mixin fa-header{
    font-size: 2em;
    float: left;
    margin-right: 10px;
}

@mixin right-col-elements{
    position: absolute;
    right: 8%;
    width: 370px;
}
@mixin inputs {
    padding: 10px;
    width: 100%;
}
@mixin inputs-submit{
    padding: 20px;
    background-color: $yellow-color;
    font-size: 1.2em;
    font-weight: 700;
    border: 0px solid #fff; 
}