* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #001d8a;
  font-family: "Lato", sans-serif; }

header, section {
  width: 100%; }

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }

.yellow {
  color: #ecd407; }

.col-1-2 {
  width: 50%;
  float: left; }

header {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  color: #fff;
  padding: 20px 0;
  z-index: 10; }
  header #main-logo {
    display: inline-block;
    float: left;
    margin-left: 30px; }
    header #main-logo h1 {
      display: inline-block;
      margin: 0; }
    header #main-logo .fa {
      font-size: 2em;
      float: left;
      margin-right: 10px;
      color: #ecd407;
      line-height: 43px; }
  header .header-contact {
    display: inline-block;
    float: right;
    width: 300px; }
    header .header-contact .fa {
      font-size: 2em;
      float: left;
      margin-right: 10px;
      line-height: 45px; }
    header .header-contact span {
      display: block; }
      header .header-contact span.call {
        font-size: 0.8em; }
      header .header-contact span.phone {
        font-size: 1.2em; }

#form-section {
  background-image: url(../img/background.png);
  background-position: top;
  background-size: cover;
  height: 100vh;
  color: #fff; }
  #form-section .form-section-right {
    position: absolute;
    right: 8%;
    width: 370px;
    top: 25%; }
  #form-section #main-form {
    background-color: #001d8a; }
    #form-section #main-form fieldset {
      border-style: none; }
    #form-section #main-form input:not([type='submit']), #form-section #main-form textarea {
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;
      font-family: "Lato", sans-serif; }
    #form-section #main-form input[type='submit'] {
      padding: 20px;
      background-color: #ecd407;
      font-size: 1.2em;
      font-weight: 700;
      border: 0px solid #fff;
      margin-bottom: 10px;
      transition: all .3s; }
      #form-section #main-form input[type='submit']:hover {
        background-color: #fff;
        cursor: pointer; }

footer {
  background-color: #292929;
  padding: 50px 0;
  color: #fff; }
  footer .phone-footer {
    text-align: center;
    margin-bottom: 30px; }
    footer .phone-footer .fa {
      background-color: #f4b939;
      color: #000;
      height: 50px;
      width: 50px;
      font-size: 25px;
      text-align: center;
      line-height: 50px;
      display: block;
      margin: auto;
      margin-bottom: 10px; }
  footer p {
    text-align: center;
    font-size: 0.8em; }
